<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monster Hacking</title>
</head>
<body>
  
    <nav class="navbar  navbar-dark bg-dark justify-content-between">
        
        <a class="navbar-brand">Monster Hacking</a>
        <button type="button" class="btn btn-light btn-lg">Subir hack</button>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="BUSCAR HACKS" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">BUSCAR</button>
        </form>
        
        <button type="button" class="btn btn-outline-danger">Cerrar sesión</button>
    </nav>
    <br><br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pokémon Iberia</h5>
          <p class="card-text">Un juego inspirado en españa, este hack tiene un montón de contenido</p>
          <a href="#" class="btn btn-primary">VER HACK!</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pokémon Prism</h5>
          <p class="card-text">Este Hack que está encima de pokemon crystal, tiene una historia enganchante y llena de detalles y mecanicas impresionantes</p>
          <a href="#" class="btn btn-primary">VER HACK!</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pokémon lol</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">VER HACK!</a>
        </div>
      </div>
    </div>
  </div>
</div> 
<br><br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="imagenes\pokemon-clover-cover.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pokémon Clover</h5>
          <p class="card-text">Este juego toma lugar en la región de fochun, creado por la gente enferma de 4chan está completamente lleno de su húmor de mierda y un dificultad injusta</p>
          <a href="#" class="btn btn-primary">VER HACK!</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pokémon </h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">VER HACK!</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">VER HACK!</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>